.taskbar {
	position: absolute;
	z-index: 1000001;
	bottom: 0;
	left: 0;				
	width: 100%;
	height:	30px;
	background-image: url('../images/taskbar_borderbg.png');	
}	
.taskbar_button {
	position: absolute;
	z-index: 2;
	width: 82px;
	height: 30px;
	bottom: 0px;
	left: 0px;
}
.debugconsole {
	position: absolute;
	display: none;
	z-index: 1000003;
	width: 525px;
	height:	324px;
	bottom: 5px;
	right: 9px;
	
	
		
}
.taskbar_debugconsole {
	position: absolute;
	z-index: 2;
	width: 31px;
	height: 30px;
	bottom: 0px;
	right: 156px;
}

.taskbar_min_sidebar {
	position: absolute;
	z-index: 2;
	width: 31px;
	height: 30px;
	bottom: 0px;
	right: 125px;
}


.systray {
	display: none;	
	position: absolute;
	z-index: 1000002;
	bottom: 0px;
	right: 0px;				
	width: 250px;
	height: 30px;
}	



.sidebar {
	position: absolute;
	z-index: 1000002;
	top: 0px;
	right: 0px;	
	width: 125px;
	height: 100%;			
	background-image: url('../images/sidebar/background.png');	
}

.desktopCalendar {
	position: absolute;
	z-index: 1000003;
	width: 525px;
	height: 324px;
	bottom: 5px;
	right: 9px;
	background-image: url('../images/SidebarDesktopCalendar/background.png');	
}

.desktopicon_normal {
	position: relative;
	width: 75px;
	height: 65px;
	font-family: arial;
	font-size: 10px;
	padding-top: 5px;
	float: left;
	background-image: url('');		
}

.desktopicon_mo {
	position: relative;
	width: 75px;
	height: 65px;
	font-family: arial;
	font-size: 10px;
	padding-top: 5px;
	float: left;
	background-image: url('../images/mouse_over.png');
	background-repeat: no-repeat;
}


body{
	overflow:hidden;
	background: #C0C0C0;	
}

.desktop {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}


	.body{
		overflow:hidden;
	}
	.dhtmlgoodies_window{
		width:300px;
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
		font-size:0.9em;
		position:absolute;
		overflow:hidden;	
		z-index:1;	
		
		
	}
	.dhtmlgoodies_window div{
		position:relative;
		overflow:hidden;
	}
	.dhtmlgoodies_window .dhtmlgoodies_window_top{
		width:100%;
		height:22px;
		position:relative;
		background-color: TRANSPARENT;
		
		
	}
	
	.windowToolbar{
		position:absolute;
		width:100%;
		height:50px;
	}


	.dhtmlgoodies_window .top_buttons{
		float:right;
		z-index:10;
		position:absolute;
		right:0px;
		width:55px;
		
		
	}
	.top_buttons img{
		float:left;
		padding-left:2px;
		
	}
	.dhtmlgoodies_windowMiddle{
		
	}
	.dhtmlgoodies_windowContent{
		height:100%;
		width:100%;
		background-color: #FFFFFF;
		overflow:hidden;



	}





	.topCenterImage{
		position:absolute;
		right:4px;
		left:4px;
		width:0px;
		height:22px;
	}

	.toolbarCenterImage{
		position:absolute;
		left:0px;
		width:100%;
		height:50px;
	}




	.dhtmlgoodies_window_bottom{
		position:relative;
		width:100%;
		height:28px;
		background-color: TRANSPARENT;
	}

	.bottomCenterImage{
		position:absolute;
		right:15px;
		left:4px;
		width:100%;
		height:28px;
	}



	.bottomLeftImage{
		position:absolute;
		left:0px;
		bottom:0px;
	}

	.resizeImage{
		position:absolute;
		right:0px;
		bottom:0px;
	}